@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";

.main-container {
  margin: 70px 0 30px 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Abel;
  min-height: 100vh;
  width: 100%;
  background-color: #2f399e;
  background-image: linear-gradient(to bottom, #1750ab, #052456);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 70%;
  //   height: 60vh;
  background: #fff;
  border-radius: 6px;
  padding: 30px 5px 40px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.left-side {
  margin-left: 30px;
}

.content .left-side::before {
  content: " ";
  position: absolute;
  height: 90%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details .icons {
  font-size: 40px;
  color: #0c4db4;
  margin-bottom: 5px;
}

.content .left-side .details .topic {
  font-size: 20px;
  font-weight: 600;
}
.content .left-side .details .text-one {
  font-size: 17px;
  color: #7d7d82;
}

.container .content .right-side {
  width: 75%;
  margin-left: 100px;
}
.form-para {
  font-size: 18px;
  margin-top: 10px;
  color: #7d7d82;
}

.content .right-side .topic-text {
  font-size: 40px;
  font-weight: 600;
  color: #0c4db4;
}
.right-side .input-box {
  height: 50px;
  width: 60%;
  margin: 5px 10px 20px 0;
}
.right-side .input-box textarea,
.right-side .input-box input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 20px;
  background-color: #f0f1f8;
  border-radius: 6px;
  resize: none;
  font-family: Abel;
}

.form-main {
  display: flex;
  width: 75%;
}
form {
  display: flex;
  flex-direction: column;
}

.right-side .message-box {
  min-height: 110px;
  margin-top: 90px;
}
.right-side .button {
  margin-top: 6px;
  display: inline-block;
}
.right-side .button > button {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px 16px;
  border-radius: 15px;
  background: #0c4db4;
  cursor: pointer;
  transition: all 0.1s ease;
}
.button > button:hover {
  background: #327aee;
}

@include mobileView {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .content .left-side .details {
    padding: 5px;
    margin: 0;
    width: 40%;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
  .form-main {
    height: 13rem;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  textarea {
    margin-left: 10px;
  }
  .right-side .message-box textarea {
    height: 80px;
    width: fit-content;
  }
  .right-side .input-box {
    height: auto;
    margin: 0;
    width: fit-content;
  }
  .right-side .input-box input {
    height: 50px;

    margin: 5px 0;
  }
  .button {
    margin-left: 10px;
  }
  .right-side .message-box {
    margin-top: 90px;
    min-height: 0;
  }
  .left-side {
    margin: 0;
  }
}
