@import "./typography";

@mixin hero-bttn {
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: #3493fa;
  color: white;
  font-family: Abel;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  z-index: 2;
  width: 10%;
}
