@import "../../styles/partials/mixins";
@import "../../styles/partials/mixins";
.hero {
  &__img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  &__headline {
    width: 30%;
    position: absolute;
    top: 45%;
    left: 5%;
    color: #fff;
    z-index: 2;
    font-family: abel;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__para {
    width: 25%;
    position: absolute;
    top: 65%;
    left: 5%;
    color: #fff;
    z-index: 2;
    font-family: abel;
    font-size: 19px;
  }
}
.hero__img-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 80vh;
  background-color: #2f399e;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 0;
  background-image: linear-gradient(to right, #14489c, #05275e);
}
.hero__img-container {
  position: relative;
}

.hero__bttn {
  @include hero-bttn;
}

.hero__bttn:hover {
  background-color: #327aee;
  cursor: pointer;
}

@include mobileView {
  .hero__headline {
    width: 90%;
    font-size: 30px;
  }
  .hero__para {
    width: 80%;
    font-size: 15px;
    top: 65%;
  }
  .hero__bttn {
    top: 92%;
    left: 20%;

    font-size: 16px;
    padding: 10px 18px;
  }
  .hero__img-container::after {
    height: 70vh;
    top: 0;
    left: 0;
  }
  .hero__img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
}
@include tabletView{
   .hero__headline {
    width: 50%;
    font-size: 30px;
    top: 40%;
  }
  .hero__para {
    width: 40%;
    font-size: 15px;
    top: 60%;
  }
  .hero__bttn {
    top: 85%;
    left: 10%;
    font-size: 16px;
    padding: 10px 18px;
  }
  .hero__img-container::after {
    height: 70vh;
    top: 0;
    left: 0;
  }
  .hero__img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
}