@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 70px 10px 70px;

  &__logo img {
    width: 20rem;
  }

  &__right {
    display: flex;
  }
  &__links {
    list-style: none;
    display: flex;

    &--each {
      text-decoration: none;
      padding-right: 30px;
      font-family: Abel;
      font-size: 2rem;
      font-weight: 600;
      position: relative;
      color: #0f3054;
      cursor: pointer;
    }
  }
  &__links-toggle {
    display: flex;
  }
}

.header__links--each::after {
  content: "";
  height: 4px;
  width: 75%;
  display: block;
  background-color: rgb(36, 122, 214);
  position: absolute;
  bottom: -10px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.header__links--each:hover::after {
  opacity: 1;
}

.hamburger,
.hamburger-close {
  display: none;
}

@include mobileView {
  .header__links {
    display: none;
  }

  .header__logo img {
    width: 10rem;
  }
  .header {
    margin: 15px;
  }
  .header__nav--links {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }

  .hamburger,
  .hamburger-close {
    display: flex;
    color: #0f3054;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .hide {
    display: none;
  }

  .header__right.open ul {
    display: block;
  }

  .header__links--each {
    padding-right: 0;
    padding-bottom: 10px;
    font-size: 2rem;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
  }
  // .header__right.open {
  //   height: 100vh;
  // }
  .header__links--each::after {
    content: "";
    height: 4px;
    width: 60%;
    background-color: rgb(36, 122, 214);
    position: absolute;
    bottom: 10px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
  }

  .header__links--each:hover::after {
    opacity: 1;
  }
}
